#container-header {
    position: relative;
    height: 6rem;
    width: 100%;
}

/* logo */

#container-logo {
    width: 100%;
}

#logo {
    position: absolute;
    top: 1rem;
    left: 4rem;
    width: 4rem;
}

@media screen and (min-width: 37.5rem) {
    
    #logo {
        left: 10rem;
    }
}