#container-header {
    position: relative;
    height: 6rem;
    width: 100%;
}

/* logo */

#container-logo {
    width: 100%;
}

#logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 4rem;
}