@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* Background da página */

#backgroud {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1000;

}

#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFFF;
    overflow: hidden;
}
