#container-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;

}

#info-luffy {
    width: 100%;
}

.name-luffy {
    width: 100%;
}

#container-img-luffy {
    width: 100%;
}

.luffy-img {
    width: 100%;
}

@media screen and (min-width: 31.25rem) {
    
    #container-main {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}




