#container-main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;

}

#info-luffy {
    width: 100%;
}

#info-luffy img {
    width: 100%;
}

#img-luffy {
    width: 100%;
}

#img-luffy img {
    width: 100%;
}

@media screen and (min-width: 37.5rem) {
    
    #container-main {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 10rem;
    }

    #info-luffy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #info-luffy img {
        width: 100%;
    }

    #img-luffy {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #img-luffy img {
        width: 90%;
    }
}




